@model System.Collections.Generic.IList<int>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MinMax</title>
</head>
<body>
    <div> 
        @*@ViewBag.Res*@

        @foreach (var i in Model)
        {
            <p>@i</p>
        }


    </div>
</body>
</html>
